

body{

    background: #0e4269 ;
    background-position:center;
    background-size:contain;
    color:black;
    font-family:monospace;


}

.nav{
    background-color:#171614;
    color:white;
}

a,a:hover{
color:#171614

}
.active{

color:white;

width:fit-content;
}
.active a,a:hover{

color:white;
width:fit-content;
background:#171614;
}
.active a:hover{
color:black;
}
