

body{

    background: #0e4269 ;
    background-position:center;
    background-size:contain;
    color:white;
    font-family:monospace;
    font-size:x-large;

}
li{
list-style:none;
}
.nav{
    background-color:#bf675b;

}

a,a:hover{
color:#171614
}
.active{

color:#171614;
background-color:#bf675b;
width:fit-content;
}
