{{#partial "content"}}


    {{#if username}}
        <h1>Welcome {{username}} to Jero Squad</h1>
        <button class="btn btn-success"><a href="/create/hero">Create Hero</a></button>

    {{else}}
        <form action="/welcome" method="post">
            <h1>Welcome to Hero Squad </h1>
            <label for="username">Name</label>
            <input type="text" name="username" id="username">
            <button type="submit" class="btn btn-primary">Sign In</button>

        </form>



    {{/if}}






{{/partial}}



{{> layout.hbs}}